{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid" data-aos="fade" data-aos-delay="500">
      <div class="row">
        {% for c in cats %}
        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">{{ c.title }}</h2>
              <a href="{{ c.get_absolute_url }}" class="btn btn-outline-white py-2 px-4">Look</a>
            </div>
            <img src="{% static 'main/images/img_2.jpg' %}" alt="Image" class="img-fluid">
          </div>
        </div>
        {% endfor %}
<!--        <div class="col-lg-4">-->
<!--          <div class="image-wrap-2">-->
<!--            <div class="image-info">-->
<!--              <h2 class="mb-3">People</h2>-->
<!--              <a href="single.html" class="btn btn-outline-white py-2 px-4">More Photos</a>-->
<!--            </div>-->
<!--            <img src="{% static 'main/images/img_3.jpg' %}" alt="Image" class="img-fluid">-->
<!--          </div>-->
<!--        </div>-->

      </div>
    </div>
{% endblock %}
