{% extends 'default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block content %}
{% if category_news_list %}
<h1>Все новости и статьи в категории {{ categories_post }}</h1>
<p>Количество новостей: {{ category_news_list | length }}</p>
{% if user.is_authenticated %}
    {% if is_not_subscriber %}
        <style>
        /* Стили кнопки */
        .main_button_subsc{display: inline-block;cursor: pointer; font-size:15px;text-decoration:none;padding:5px 10px; color:#000000;background:#c2eddd;border-radius:5px;border:1px solid #000000;}
        .main_button_subsc:hover{background:#36755e;color:#ffffff;border:1px solid #000000;transition: all 0.2s ease;}
        </style>
        <center><a class="main_button_subsc" href="{% url 'subscribe' categories_post.id %}" title="Подписаться">Подписаться</a></center><br>
    {% endif %}
    {% if is_subscriber %}
        <style>
        /* Стили кнопки */
        .main_button_un_subsc{display: inline-block;cursor: pointer; font-size:15px;text-decoration:none;padding:5px 10px; color:#000000;background:#ffbdbd;border-radius:5px;border:1px solid #000000;}
        .main_button_un_subsc:hover{background:#ff5454;color:#ffffff;border:1px solid #000000;transition: all 0.2s ease;}
        </style>
        <center><a class="main_button_un_subsc" href="{% url 'un_subscribe' categories_post.id %}" title="Отписаться">Отписаться</a></center>
    {% endif %}
{% endif %}
<hr>
    {% for a in category_news_list %}
<h5><b>{{ a.title_post | censor }}</b></h5>
        <small class="fw-bold">{{ a.date_post | date:"d-m-Y" }}</small>
        <small class="text-muted">Автор: {{ a.author_post }}</small>
        <small class="fw-bold">Категории:
        {% for category in a.categories_post.all %}
            <a href="{% url 'category_list' categories_post.id %}">{{ categories_post }}</a>
        {% endfor %}
        </small>
        {{ a.text_post | linebreaks | truncatewords:20 | censor | safe }}
        <style>
        /* Стили кнопки */
        .main_button{display: inline-block;cursor: pointer; font-size:15px;text-decoration:none;padding:5px 10px; color:#000000;background:#e0e0e0;border-radius:5px;border:1px solid #000000;}
        .main_button:hover{background:#4d4d4d;color:#ffffff;border:1px solid #000000;transition: all 0.2s ease;}
        </style>
        <center><a class="main_button" href="{% url 'news' a.id %}" title="Прочитать">Прочитать</a></center>
    {% endfor %}
{% else %}
    {{ amount_news | default_if_none:'Нет новостей' }}
{% endif %}
<br>
<br>
{% if page_obj.has_previous %}
    <a href="?{% url_replace page=1 %}">1</a>
    {% if page_obj.previous_page_number != 1 %}
        ...
        <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}
{{ page_obj.number }}
{% if page_obj.has_next %}
    <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
    {% if paginator.num_pages != paje_obj.next_page_number %}
        ...
        <a href="?{% url_replace page=page_obj.paginator.num_pages  %}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
{% endif %}
{% endblock %}

