{% extends 'default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% block content %}
{% if category_news_list %}
<h1>Все новости и статьи в категории {{ categories_post }}</h1>
<p>Количество новостей: {{ category_news_list | length }}</p>
{% if is_not_subscriber %}
    <p style="text-align: center"><button><a href="{% url 'subscribe' categories_post.id %}">Подписаться</a></button>
{% endif %}
<hr>
    {% for a in category_news_list %}
<h5><b>{{ a.title_post | censor }}</b></h5>
        <small class="fw-bold">{{ a.date_post | date:"d-m-Y" }}</small>
        <small class="text-muted">Автор: {{ a.author_post }}</small>
        <small class="fw-bold">Категории:
        {% for category in a.categories_post.all %}
            <a href="{% url 'category_list' categories_post.id %}">{{ categories_post }}</a>
        {% endfor %}
        </small>
        {{ a.text_post | linebreaks | truncatewords:20 | censor | safe }}
        <p style="text-align: center"><button><a href="{% url 'news' a.id %}">Прочитать</a></button>
    {% endfor %}
{% else %}
    {{ amount_news | default_if_none:'Нет новостей' }}
{% endif %}
<br>
<br>
{% if page_obj.has_previous %}
    <a href="?{% url_replace page=1 %}">1</a>
    {% if page_obj.previous_page_number != 1 %}
        ...
        <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}
{{ page_obj.number }}
{% if page_obj.has_next %}
    <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
    {% if paginator.num_pages != paje_obj.next_page_number %}
        ...
        <a href="?{% url_replace page=page_obj.paginator.num_pages  %}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
{% endif %}
{% endblock %}

