{% extends 'default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load i18n %}

{% block content %}
{% if category_news_list %}
<h1>{% trans 'Все новости и статьи в категории' %} <strong>{{ categories_post }}</strong></h1>
<p>{% trans 'Количество новостей' %}: {{ category_news_list | length }}</p>
{% if user.is_authenticated %}
    {% if is_not_subscriber %}
        <style>
        /* Стили кнопки */
        .main_button_subsc{display: inline-block;cursor: pointer; font-size:15px;text-decoration:none;padding:5px 10px; color:#000000;background:#c2eddd;border-radius:5px;border:1px solid #000000;}
        .main_button_subsc:hover{background:#36755e;color:#ffffff;border:1px solid #000000;transition: all 0.2s ease;}
        </style>
        <div align="center"><a class="main_button_subsc" href="{% url 'subscribe' categories_post.id %}" title="Подписаться">{% trans 'Подписаться' %}</a></div>
    {% endif %}
    {% if is_subscriber %}
        <style>
        /* Стили кнопки */
        .main_button_un_subsc{display: inline-block;cursor: pointer; font-size:15px;text-decoration:none;padding:5px 10px; color:#000000;background:#ffbdbd;border-radius:5px;border:1px solid #000000;}
        .main_button_un_subsc:hover{background:#ff5454;color:#ffffff;border:1px solid #000000;transition: all 0.2s ease;}
        </style>
        <div align="center"><a class="main_button_un_subsc" href="{% url 'un_subscribe' categories_post.id %}" title="Отписаться">{% trans 'Отписаться' %}</a></div>
    {% endif %}
{% endif %}
<hr>
    {% for a in category_news_list %}
<h5><b>{{ a.title_post | censor }}</b></h5>
        <small class="fw-bold">{{ a.date_post | date:"d-m-Y" }}</small>
        <small class="text-muted">{% trans 'Автор' %}: {{ a.author_post }}</small>
        <small class="fw-bold">{% trans 'Категория' %}:
        {% for category in a.categories_post.all %}
            <a href="{% url 'category_list' categories_post.id %}">{{ categories_post }}</a>
        {% endfor %}
        </small>
        {{ a.text_post | linebreaks | truncatewords:20 | censor | safe }}
        <style>
        /* Стили кнопки */
        .main_button{display: inline-block;cursor: pointer; font-size:15px;text-decoration:none;padding:5px 10px; color:#000000;background:#e0e0e0;border-radius:5px;border:1px solid #000000;}
        .main_button:hover{background:#4d4d4d;color:#ffffff;border:1px solid #000000;transition: all 0.2s ease;}
        </style>
        <div align="center"><a class="main_button" href="{% url 'news' a.id %}" title="Прочитать">{% trans 'Прочитать' %}</a></div>
    {% endfor %}
{% else %}
    {{ amount_news | default_if_none:'Нет новостей' }}
{% endif %}<br>
<div align="center">{% include 'pagination.html' with page=page_obj %}</div>
{% endblock %}
