{% load static %}
{% load custom_filters %}
{% load custom_tags %}
{% load cache %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Портал - новостей</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'news/css/style.css' %}" rel="stylesheet" />
        <!-- Google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <!-- Google fonts end-->
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                {% cache 300 logo %}
                <a class="navbar-brand" href="/news/">Портал - новостей</a>
                {% endcache %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% cache 300 main_menu %}
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/news/search/">Поиск</a></li>
                        {% endcache %}
                        {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/news/create">Создать новость</a></li>
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/articles/create/">Создать статью</a></li>
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'account_logout' %}">{{ user.username }}, Выйти</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'account_signup' %}">Регистрация</a></li>
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'account_login' %}">Войти</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                {% block content %}
                <h1>Все новости и статьи</h1>
                <p>Количество всех новостей: {{ all_news | length }}</p>
                <hr>
                    {% for a in all_news %}
                 <h5><b>{{ a.title_post | censor }}</b></h5>
                        <small class="fw-bold">{{ a.date_post | date:"d-m-Y" }}</small>
                        <small class="text-muted">Автор: {{ a.author_post }}</small>
                        <small class="fw-bold">Категории:
                        {% for category in a.categories_post.all %}
                            <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                        {% endfor %}
                        </small>
                        {{ a.text_post | linebreaks | truncatewords:20 | censor | safe }}
                        <style>
                        /* Стили кнопки */
                        .main_button{display: inline-block;cursor: pointer; font-size:15px;text-decoration:none;padding:5px 10px; color:#000000;background:#e0e0e0;border-radius:5px;border:1px solid #000000;}
                        .main_button:hover{background:#4d4d4d;color:#ffffff;border:1px solid #000000;transition: all 0.2s ease;}
                        </style>
                        <div align="center"><a class="main_button" href="{% url 'news' a.id %}" title="Прочитать">Прочитать</a></div>
                    {% endfor %}
                    {{ amount_news | default_if_none:'Нет новостей' }}
                <br>
                <br>
                {% if page_obj.has_previous %}
                    <a href="?{% url_replace page=1 %}">1</a>
                    {% if page_obj.previous_page_number != 1 %}
                        ...
                        <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
                    {% endif %}
                {% endif %}
                {{ page_obj.number }}
                {% if page_obj.has_next %}
                    <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
                    {% if paginator.num_pages != paje_obj.next_page_number %}
                        ...
                        <a href="?{% url_replace page=page_obj.paginator.num_pages  %}">{{ page_obj.paginator.num_pages }}</a>
                    {% endif %}
                {% endif %}
                {% endblock %}
                <hr>
                {% cache 300 copyright %}
                <p>&copy; 2023 - Портал новостей.</p>
                {% endcache %}
            </div>
        </div>
    </body>
</html>
