{% extends 'default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {{ title }}
    {% endblock %}
</head>
<body>
    {% block content %}
    <h1>{% trans 'Поиск новостей и статей' %}</h1>
    <hr>
    <form action="" method="get">
       {{ filterset.form.as_table }}
       <input type="submit" value="{% trans 'Найти' %}" />
   </form>
    <hr>
    {% for n in filterset.qs %}
        <small class="fw-bold">{{ n.date_post | date:"d-m-Y" }}</small>
        <b><a href="{% url 'news' n.id %}">{{ n.title_post | censor }}</a></b>
        <small class="text-muted">{% trans 'Автор' %}: {{ n.author_post }}</small><br><br>
    {% endfor %}
    {% endblock content %}
</body>
</html>
