{% extends 'default.html' %}
{% load custom_filters %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {{ title }}
    {% endblock %}
</head>
<body>
    {% block content %}
    <h1>Поиск новостей и статей</h1>
    <hr>
    <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>
    <hr>
    {% for n in filterset.qs %}
        <h5><b>{{ n.title_post | censor }}</b></h5>
        <p>{{ n.author_post }}</p>
        <p>{{ n.date_post | date:"d-m-Y" }}</p>
    {% endfor %}
    {% endblock content %}
</body>
</html>
