{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans 'Подтверждение регистрации "Портал - новостей"' %}</title>
</head>
<body>
    {% load account %}
    <h1>{% trans 'Благодарим Вас за регистрацию' %} {{ user.username }} !</h1>
    <h3>{% blocktranslate %}Пожалуйста пройдите по <a href="{{ activate_url }}">ссылке</a> для активации вашего аккаунта.{% endblocktranslate %}</h3>
</body>
</html>