{% extends 'base.html' %}

{% block content %}
<div class="album py-5 bg-body-tertiary d-flex align-items-center">
  <div class="container">
    {% if messages %}
    {% for message in messages %}
    {% if 'reset_password_done' in message.extra_tags %}
    {% if message.tags %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <div class="successful-message"><strong>{{ message }}</strong></div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endif %}
    <p class="text-center">Если у вас ещё нет учётной записи, пожалуйста, сначала <a
        href="{% url 'signup' %}"><b>зарегистрируйтесь.</b></a></p>
    <form method="post" class="row g-3 needs-validation" style="max-width: 600px; margin: auto;">
      {% csrf_token %}
      {% for f in form %}
      {% if f.field.widget.input_type == 'checkbox' %}
      <div class="custom-checkbox">
        {{ f }}
        <label for="{{ f.auto_id }}" class="form-label">{{ f.label }}</label>
        {% if f.errors %}
        {% for error in f.errors %}
        <div class="error-message">{{ error }}</div>
        {% endfor %}
        {% endif %}
      </div>
      {% else %}
      <div class="col-12 mb-3 text-left">
        <label for="{{ f.auto_id }}" class="form-label">{{ f.label }}</label>
        {{ f }}
        {% if f.errors %}
        {% for error in f.errors %}
        <div class="error-message">{{ error }}</div>
        {% endfor %}
        {% endif %}
      </div>
      {% endif %}
      {% endfor %}
      <div class="col-12">
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="error-message">{{ error }}</div>
        {% endfor %}
        {% endif %}
      </div>
      <div class="col-12 text-center">
        <button class="btn btn-look-dress" type="submit">Войти</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}