{% extends 'base.html' %}

{% block content %}
<div class="album py-5 bg-body-tertiary d-flex align-items-center">
  <div class="container">
    <p class="text-center">Уже зарегистрированы? <a href="{% url 'login' %}"><b>Войдите.</b></a></p>
    <form method="post" class="row g-3 needs-validation" style="max-width: 600px; margin: auto;">
      {% csrf_token %}
      {% for f in form %}
      <div class="col-12 mb-3 text-left">
        <label for="{{ f.auto_id }}" class="form-label">{{ f.label }}</label>
        {% if f.field.widget.input_type == 'password' %}
        <div class="input-group">
          {{ f }}
          <span class="input-group-text toggle-password" onclick="togglePassword('{{ f.auto_id }}')">
            <i id="{{ f.auto_id }}-icon" class="bi bi-eye"></i>
          </span>
        </div>
        {% else %}
        {{ f }}
        {% endif %}

        {% if f.help_text %}
        <small class="form-text text-muted">{{ f.help_text }}</small>
        {% endif %}
        {% if f.errors %}
        {% for error in f.errors %}
        <div class="error-message">{{ error }}</div>
        {% endfor %}
        {% endif %}
      </div>
      {% endfor %}
      <div class="col-12">
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="error-message">{{ error }}</div>
        {% endfor %}
        {% endif %}
      </div>
      <div class="col-12 text-center">
        <button class="btn btn-look-dress" type="submit">Регистрация</button>
      </div>
    </form>
  </div>
</div>

<script>
  function togglePassword(fieldId) {
    var passwordField = document.getElementById(fieldId);
    var passwordIcon = document.getElementById(fieldId + "-icon");

    if (passwordField.type === "password") {
      passwordField.type = "text";
      passwordIcon.classList.remove("bi-eye");
      passwordIcon.classList.add("bi-eye-slash");
    } else {
      passwordField.type = "password";
      passwordIcon.classList.remove("bi-eye-slash");
      passwordIcon.classList.add("bi-eye");
    }
  }
</script>
{% endblock %}