{% load static %}
{% load main_tags %}
{% get_categories as categories %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'main/fonts/icomoon/style.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/lightgallery.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/bootstrap-datepicker.css' %}">
  <link rel="stylesheet" href="{% static 'main/fonts/flaticon/font/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/swiper.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/aos.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>

  <div class="site-wrap">
    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar py-3" role="banner">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-6 col-xl-2" data-aos="fade-down">
            <h1 class="mb-0"><a href="{% url 'home' %}" class="text-white h2 mb-0">Портфолио</a></h1>
          </div>

          <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
            <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">
              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">

                {% url 'home' as home %}
                <li class="nav-item {% if request.path == home %}active{% endif %}"><a class="nav-link" href="{{ home }}">Главная</a></li>

                <li class="has-children">
                  <a href="{% url 'home' %}">Галерея</a>
                  <ul class="dropdown">
                    {% for category in categories %}
                    <li style="text-align: center"><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
                    {% endfor %}
                  </ul>
                </li>

                {% url 'about' as about %}
                <li class="nav-item {% if request.path == about %}active{% endif %}"><a class="nav-link" href="{{ about }}">О себе</a></li>

                {% url 'contacts' as contacts %}
                <li class="nav-item {% if request.path == contacts %}active{% endif %}"><a class="nav-link" href="{{ contacts }}">Контакты</a>

              </ul>
            </nav>
          </div>

          <div class="col-6 col-xl-2 text-right" data-aos="fade-down">
            <div class="d-none d-xl-inline-block">
              <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
                <li>
                  <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                </li>
                <li>
                  <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                </li>
                <li>
                  <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                </li>
                <li>
                  <a href="#" class="pl-3 pr-3"><span class="icon-youtube-play"></span></a>
                </li>
              </ul>
            </div>

            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

          </div>
        </div>
      </div>
    </header>

{% block content %}
{% endblock %}

    <div class="footer py-4">
      <div class="container-fluid text-center">
        <p>
          Этот сайт создан для дочери, с <i class="icon-heart-o" aria-hidden="true"></i> от <a href="#" target="_blank" >папы</a>
        </p>
      </div>
    </div>
  </div>

  <script src="{% static 'main/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'main/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'main/js/jquery-ui.js' %}"></script>
  <script src="{% static 'main/js/popper.min.js' %}"></script>
  <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'main/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'main/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'main/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'main/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'main/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'main/js/swiper.min.js' %}"></script>
  <script src="{% static 'main/js/aos.js' %}"></script>
  <script src="{% static 'main/js/picturefill.min.js' %}"></script>
  <script src="{% static 'main/js/lightgallery-all.min.js' %}"></script>
  <script src="{% static 'main/js/jquery.mousewheel.min.js' %}"></script>
  <script src="{% static 'main/js/main.js' %}"></script>

  <script>
    $(document).ready(function(){
      $('#lightgallery').lightGallery();
    });
  </script>

</body>
</html>