{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="look-container">
    <div class="thumbnails-container">
      {% if accessory.photos %}
      {% for p in accessory.photos.all %}
      <img class="thumbnail-photo" src="{{ p.photo.url }}"
        onclick="document.getElementById('main-photo').src = '{{ p.photo.url }}';">
      {% endfor %}
      {% endif %}
    </div>
    {% if accessory.photos %}
    <div id="main-photo-container">
      <img id="main-photo" src="{{ accessory.photos.first.photo.url }}">
    </div>
    {% endif %}
    <div class="product-details">
      <h4 class="title-panel">{{ accessory.acat }}</h4>
      <p><b>Цвет:</b> {{ accessory.color.all|join:', ' }}.</p>
      <p><b>Стоимость:</b> {{ accessory.price }} руб.</p>
      <p><b>Наличие:</b> {{ accessory.availability }}.</p><br>

      <div class="rating">
        <button id="like-button" onclick="updateRating('like')"><img src="{% static 'dress/images/icons/like.png' %}"
            alt="Like" width="26px"></button>
        <button id="dislike-button" onclick="updateRating('dislike')"><img
            src="{% static 'dress/images/icons/dislike.png' %}" alt="Dislike" width="26px"></button>
        <p><b>Рейтинг:</b> <span id="rating-value">{{ accessory.rating }}</span></p>
      </div>

    </div>
  </div>
</div>

<script>
  function updateRating(action) {
    const csrfToken = '{{ csrf_token }}';
    fetch("{% url 'accessory_update_rating' accessory.id %}", {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrfToken
      },
      body: JSON.stringify({ action: action })
    })
      .then(response => response.json())
      .then(data => {
        document.getElementById('rating-value').innerText = data.rating;
      });
  }
</script>
{% endblock %}