{% extends 'index.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {{ title }}
    {% endblock %}
</head>
<body>
    {% block content %}
    <h3><b>Все комментарии</b></h3>
    <hr>
    {% for p in post_category %}
    <small class="fw-bold">Дата: {{ p.date_post | date:"d-m-Y" }}</small>
    <small class="text-muted">Автор: {{ p.author_post }}</small>
    <small class="fw-bold">Категория: {{ p.category_post }}</small>
    <h4><b>{{ p.title_post }}</b></h4>
    <p>{{ p.text_post | linebreaks | safe }}</p>
    <style>
    /* Стили кнопки */
    .main_button{display: inline-block;cursor: pointer; font-size:15px;text-decoration:none;padding:5px 10px; color:#000000;background:#e0e0e0;border-radius:5px;border:1px solid #000000;}
    .main_button:hover{background:#4d4d4d;color:#ffffff;border:1px solid #000000;transition: all 0.2s ease;}
    </style>
    <div align="center"><a class="main_button" href="{{ p.get_absolute_url }}" title="Прочитать">Прочитать</a></div>
    {% endfor %}
    <br>
    <div align="center">{% include 'pagination.html' with page=page_obj %}</div>
    {% endblock content %}
</body>
</html>